<footer class="footer">
    <a href="/#">Home</a> |
    <a href="/services">Services</a> |
    <a href="/package">Spa Package</a> |
    <a href="/appointment">Book Appointment</a> |
    <a href="/contact">Contact</a>
    <p>If you like our services, please like us on...</p>
    <a href="https://www.facebook.com/pages/Elite-Nails/127457303988453"><i class="fa fa-facebook-square fa-3x facebook"
                                                                            aria-hidden="true"></i></a>
    <a href="http://www.yelp.com/biz/elite-nail-salon-willow-park"><i class="fa fa-yelp fa-3x yelp"
                                                                      aria-hidden="true"></i></a>
    <p class="copyright">&copy; 2016-2018 <a href="http://sharonchoe.com">SHARONCHOE.COM</a> All rights reserved.</p>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/javascript/bootstrap-datepicker.min.js"></script>