<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %></title>
<link rel="icon" type="image/png" href="images/favicon.png">
<link rel='stylesheet' href='stylesheets/style.css'/>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>