<!DOCTYPE html lang="en">
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#">Elite Nails</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/#">Home</a></li>
                <li><a href="/services">Services</a></li>
                <li class="active"><a href="/contact">Contact</a></li>
                <p class="navbar-text"><i class="fa fa-gift" aria-hidden="true"></i>&nbsp;<em>Gift Certificate Available<em></em></em>
                </p>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="container-fluid  contact-wrap">
        <div class="row">
            <div class="col-md-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13425.030444811719!2d-97.6342367!3d32.7323496!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1f0b51eeb8bb2675!2sElite+Nail+%26+Tanning!5e0!3m2!1sen!2sus!4v1470255363130"
                            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-info">
                    <h3><em>Walk-ins Welcome</em></h3>
                    <strong>Address</strong>
                    <p>Willow Park Shopping Center <br> 108 S Ranch House Rd <br> Willow Park, TX 76008</p>
                    <strong>Phone</strong>
                    <p><i class="fa fa-phone" aria-hidden="true">&nbsp;</i>817-441-2626</p>
                    <strong>Business Hours</strong>
                    <p>Mon-Sat: 10:00 am - 7:00 pm <br/> Sunday: Closed</p>
                    <strong>We Accept Reservations for Party</strong>
                    <p>Wedding, birthday, baby shower, book club, friends get together, and so on... Just book us ahead
                        of time. We will surely organize a relaxing and enjoyable day for you.</p>
                </div>

            </div>
        </div>

    </div>
</div>

<footer class="footer">
    <p>If you like our services, please like us on...</p>
    <a href="https://www.facebook.com/pages/Elite-Nails/127457303988453"><i class="fa fa-facebook-square fa-3x facebook"
                                                                            aria-hidden="true"></i></a>
    <a href="http://www.yelp.com/biz/elite-nail-salon-willow-park"><i class="fa fa-yelp fa-3x yelp"
                                                                      aria-hidden="true"></i></a>

    <p class="copyright">&copy; 2016 <a href="http://sharonchoe.com">SHARONCHOE.COM</a> All rights reserved.</p>

</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
