<!DOCTYPE html lang="en">
<html>
<head>
    <% include partials/head %>
</head>
<body>
    <% include partials/header %>

<div class="container">
    <div class="container-fluid  section-wrap">
        <h2>Contact Us</h2>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13425.030444811719!2d-97.6342367!3d32.7323496!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1f0b51eeb8bb2675!2sElite+Nail+%26+Tanning!5e0!3m2!1sen!2sus!4v1470255363130"
                            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-info">
                    <h3><em>Walk-ins Welcome</em></h3>
                    <img src="images/store-front.jpg" alt="store front of elite nails">
                    <br><br>
                    <strong>Address</strong>
                    <p>Willow Park Shopping Center <br> 108 S Ranch House Rd <br> Willow Park, TX 76008</p>
                    <strong>Phone</strong>
                    <p><i class="fa fa-phone" aria-hidden="true">&nbsp;</i><a href="tel:817-441-2626">817-441-2626</a></p>
                    <strong>Business Hours</strong>
                    <p>Mon-Sat: 10:00 am - 7:00 pm <br/> Sunday: Closed</p>
                    <strong>We Accept Reservations for Party</strong>
                    <p>Wedding, birthday, baby shower, book club, friends get together, and so on... Just book us ahead
                        of time. We will surely organize a relaxing and enjoyable day for you.</p>
                </div>

            </div>
        </div>

    </div>
</div>

    <% include partials/footer %>

</body>
</html>
