<!DOCTYPE html lang="en">
<html>
<head>
    <% include partials/head %>
</head>
<body>

<% include partials/header %>

<div class="container">
    <div class="container-fluid">
        <div class="custom-jumbotron jumbotron">
            <h1><span class="elite">ELITE</span> <span class="nails">NAILS</span></h1>
            <p>Welcome to <%= title %></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="contact-first-half">
                <div class="col-md-6">
                    <h4><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:817-441-2626">817-441-2626</a> 
                        <br/>
                        108 S Ranch House Rd
                        <br/>
                        <i class="fa fa-location-arrow" aria-hidden="true"></i> <a
                                href="https://goo.gl/maps/UpKSvYKgMQm" target="_blank">Google Maps</a>
                    </h4>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Hours:<br/>Mon-Sat 10a - 7p <br/> Sunday Closed</h4>
            </div>
        </div>
    </div>
</div>

<section class="container specials">
    <div class="specials-text">
        <h2>Fall 2018 Specials</h2>
        <h4>Mention our website elitenailsaledo.com</h4>
    </div>
        
    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="images/coconut.jpg" alt="Coconut, Nut, Shell, Brown, Pulp, Exotic">
                <div class="caption">
                    <h3>Tropical Spa Pedicure $45 (regular $50)</h3>
                    <p>Hydrating skin mask with Shea butter softens with coconut extract and invigorates with citrus. Enhances skin flexibility by providing a hydrating skin treatment; soothes and moisturizes skin with vital nutrients.</p>
                    <p><a href="/appointment" class="btn btn-success" role="button">Book Now</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="images/cucumber.jpg" alt="cucumber splash water">
                <div class="caption">
                    <h3>Cucumber Spa Pedicure $40 (regular $45)</h3>
                    <p>We only use the freshest cucumber good enough to eat but for your feet! Why not? You deserve it. Fresh cool cucumber will soften the area around your heels followed by hot stone massage. Sea salt included.</p>
                    <p><a href="/appointment" class="btn btn-success" role="button">Book Now</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="images/rose-pedicure.jpg" alt="feet in rose water">
                <div class="caption">
                    <h3>Deluxe Spa Manicure and Pedicure (Rose or Spearmint) $55 (regular $60)</h3>
                    <p>All the benefits of the regular manicure and then some! You’ll get sea scrub with hot towel wrap and an extended massage. This service includes paraffin wax treatment.</p>
                    <p><a href="/appointment" class="btn btn-success" role="button">Book Now</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <img class="girl" src="/images/girl.jpg" alt="Girl with nail polish">
</section>    

<% include partials/footer %>

</body>
</html>
