<!DOCTYPE html lang="en">
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#">Elite Nails</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/#">Home</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
                <p class="navbar-text"><i class="fa fa-gift" aria-hidden="true"></i>&nbsp;<em>Gift Certificate Available<em></em></em>
                </p>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="container-fluid">
        <div class="custom-jumbotron jumbotron">
            <h1><span class="elite">ELITE</span> <span class="nails">NAILS</span></h1>
            <p>Welcome to <%= title %> of Willow Park, TX</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="contact-first-half">
                <div class="col-md-6">
                    <h4><i class="fa fa-phone" aria-hidden="true"></i> 817-441-2626
                        <br/>
                        108 S Ranch House Rd
                        <br/>
                        <i class="fa fa-location-arrow" aria-hidden="true"></i> <a
                                href="https://goo.gl/maps/UpKSvYKgMQm" target="_blank">Google Maps</a>
                        <br/><br/>
                    </h4>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Hours:<br/>Mon-Sat 10a - 7p <br/> Sunday Closed</h4>
            </div>

        </div>
    </div>
</div>

<br/>


<div class="container">
    <img class="girl" src="/images/girl.jpg">
</div>

<footer class="footer">
    <p>If you like our services, please like us on...</p>
    <a href="https://www.facebook.com/pages/Elite-Nails/127457303988453"><i class="fa fa-facebook-square fa-3x facebook"
                                                                            aria-hidden="true"></i></a>
    <a href="http://www.yelp.com/biz/elite-nail-salon-willow-park"><i class="fa fa-yelp fa-3x yelp"
                                                                      aria-hidden="true"></i></a>
    <p class="copyright">&copy; 2016 <a href="http://sharonchoe.com">SHARONCHOE.COM</a> All rights reserved.</p>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
