<!DOCTYPE html lang="en">
<html>
<head>
    <% include partials/head %>
    <link href='https://fonts.googleapis.com/css?family=Mountains of Christmas' rel='stylesheet'>
</head>
<body>

<% include partials/header %>

<div class="container">
    <div class="container-fluid">
        <div class="custom-jumbotron jumbotron">
            <h1><span class="elite">ELITE</span> <span class="nails">NAILS</span></h1>
            <p>Welcome to <%= title %></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="contact-first-half">
                <div class="col-md-6">
                    <h4><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:817-441-2626">817-441-2626</a> 
                        <br/>
                        108 S Ranch House Rd
                        <br/>
                        <i class="fa fa-location-arrow" aria-hidden="true"></i> <a
                                href="https://goo.gl/maps/UpKSvYKgMQm" target="_blank">Google Maps</a>
                    </h4>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Hours:<br/>Mon-Sat 10a - 7p <br/> Sunday Closed</h4>
            </div>
        </div>
    </div>
</div>

<section class="container specials">
    <div class="specials-text">
        <h2>Winter Holiday Special</h2>
        <h3>Gift card on sale until December 31</h3>
        <p style="font-size: 18px;"> 20% off pay cash, 10% off pay credit 
            <br />All gift card valid til Mar 31, 2019.</p>
        <p style="padding: 5px;"><a href="/contact" class="btn btn-danger" role="button">Contact Us</a></p>
    </div>
</section>

<section class="container">
    <img class="girl" src="/images/girl.jpg" alt="Girl with nail polish">
</section>    

<% include partials/footer %>

</body>
</html>
