<!DOCTYPE html lang="en">
<html>
<head>
    <% include partials/head %>
</head>
<body>

<% include partials/header %>

<div class="container">
    <div class="container-fluid">
        <div class="custom-jumbotron jumbotron">
            <h1><span class="elite">ELITE</span> <span class="nails">NAILS</span></h1>
            <p>Welcome to <%= title %></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="contact-first-half">
                <div class="col-md-6">
                    <h4><i class="fa fa-phone" aria-hidden="true"></i> 817-441-2626
                        <br/>
                        108 S Ranch House Rd
                        <br/>
                        <i class="fa fa-location-arrow" aria-hidden="true"></i> <a
                                href="https://goo.gl/maps/UpKSvYKgMQm" target="_blank">Google Maps</a>
                        <br/><br/>
                    </h4>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Hours:<br/>Mon-Sat 10a - 7p <br/> Sunday Closed</h4>
            </div>

        </div>
    </div>
</div>

<br/>


<div class="container">
    <img class="girl" src="/images/girl.jpg">
</div>

<% include partials/footer %>

</body>
</html>
